<div class="container-signup-form">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-7 col-lg-6">
      <div class="signup-form">
        <h2><strong>Become an interviewer</strong></h2>
        <%= simple_form_for(current_user, url: upgrade_to_interviewer_user_path(current_user), method: :patch) do |f| %>
          <%= f.input :years_experience %>
          <%= f.input :headline %>
          <%= f.input :about %>
          <%= f.input :linkedin, label: "LinkedIn profile URL"%>
          <%= f.input :github, label: "Github profile URL"%>
          <%= f.input :fiverr, label: "Fiverr profile URL"%>
          <%= f.input :personal_website, label: "Personal website URL"%>
          <%= f.input :banner_photo, as: :file %>
          <%= f.association :tags,
                          as: :check_boxes,
                          input_html: { class: "tag-selector" },
                          item_wrapper_class: 'tag-item' %>

          <%= f.button :submit, "Become interviewer", class: "btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
