<% if @mybookingrequests_er.any? %>
  <div class="booking-requests">
    <div class="row">
      <div class="col-6">
        <h5><small><em> Interview requests: </em></small></h5>
        <%= render 'shared/mybookings_card', mybookings: @mybookingrequests_er %>
      </div>
    </div>
  </div>
<% end %>
<h6 class="mybookingsnorequests"><em> <%=  "You don't have any pending interview requests" if @mybookingrequests_er.empty? %> </em></h6>
<div class="mybookings">
  <div class="calendar-container">
    <%= month_calendar(events: @mybookings, end_attribute: :end_time) do |date, bookings| %>
      <%= date %>
      <% bookings.each do |booking| %>
        <div class="meeting">
          <small><%= booking.interviewee.try(:first_name) %> <%= booking.interviewee.try(:last_name) %>
          <p> <%= booking.time unless booking.multi_days? %> </p>
          <a href="<%= booking.meeting_link %>" target="_blank">Meeting</a></small>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="bookings-container">
    <h5><small><em> Upcoming Interviews: </em></small></h5>
    <h6><em> <%=  "You don't have any bookings yet" if @upcoming_bookings.empty? %> </em></h6>
    <%= render 'shared/mybookings_card', mybookings: @upcoming_bookings %>
    <h5><small><em> Past Interviews: </em></small></h5>
    <h6><em> <%=  "You don't have any bookings yet" if @past_bookings.empty? %> </em></h6>
    <%= render 'shared/mybookings_card', mybookings: @past_bookings %>
  </div>
</div>
