<div class="navbar-extender"><%= image_tag("default_avatar.jpeg", class:"user-avatar-show") %></div>
<div class="container">
  <div class="user-details-buttons row g-0">
    <div class="user-details col-12 col-sm-8 col-md-8 col-lg-8">
      <br>
      <br>
      <div class="user-names-links mt-4">
        <h3 class=""><%= @user.first_name %> <%= @user.last_name %></h3>
        <div class="show-social-links mt-2">
          <ul class="social-media-list">
            <% if @user.github? %>
              <li>
                <%= link_to @user.github do %>
                  <%= image_tag 'github.png', class:"social-link-img" %>
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to "https://www.fiverr.com/developerguy720?source=gig_cards&referrer_gig_slug=be-your-ruby-on-rails-developer&ref_ctx_id=1f2fe98fceb0430cabd03038f42b4994&imp_id=ec6bc9da-ef2a-4058-9b58-fffcda0cf1bc" do %>
                <%= image_tag 'fiverr.png', class:"social-link-img" %>
              <% end %>
            </li>
            <% if @user.linkedin? %>
              <li>
                <%= link_to @user.linkedin do %>
                  <%= image_tag 'linkedin.png', class:"social-link-img" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div></div>
      </div>
      <p><%= @user.headline %></p>
      <div class="username-location-etc">
        <p>@<%= @user.username %></p>
        <p><i class="fa-solid fa-location-dot"></i> <%= @user.address %></p>
        <p><i class="fa-regular fa-calendar"></i> joined <%= @user.created_at.strftime('%B') %>, <%= @user.created_at.strftime('%Y') %></p>
        <p><i class="fa-regular fa-star"></i>4.2 (12)</p>
        <p></p>
      </div>
    </div>
    <div class="user-buttons col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="top-buttons">
        <div class="btn btn-primary" id="interviews-panel">
          <h4>16</h4>
          <small><p>interviews hosted</p></small>
        </div>
        <div class="btn btn-primary" id="years-exp-panel">
          <h4><%= @user.years_experience %>+</h4>
          <small><p>years experience</p></small>
        </div>
      </div>
      <div class="bottom-buttons">
        <%= link_to "Reviews", "#", id: "reviews-button", class:"btn btn-primary"%>
        <%= link_to "Book Interview", "#", id:"book-button", class:"btn btn-primary"%>
      </div>
    </div>
  </div>
  <!-- <div class="container">
    <%= render 'shared/review_card' %>
  </div> -->
</div>
