<div class="navbar-extender"><%= cl_image_tag @user.photo.key, class:"user-avatar-show", crop: :fill unless @user.photo.key.blank? %></div>
<div class="container">
  <div class="user-details-buttons row g-0">
    <div class="user-details col-12 col-sm-8 col-md-8 col-lg-8">
      <br>
      <br>
      <div class="user-names-links mt-4">
        <h3 class=""><strong><%= @user.first_name %> <%= @user.last_name %></strong></h3>
        <div class="show-social-links mt-2">
          <ul class="social-media-list">
            <% if @user.github? %>
              <li>
                <%= link_to @user.github, target:"_blank" do %>
                  <%= image_tag 'github.png', class:"social-link-img" %>
                <% end %>
              </li>
            <% end %>
            <% if @user.linkedin? %>
              <li>
                <%= link_to @user.linkedin, target:"_blank" do %>
                  <%= image_tag 'linkedin.png', class:"social-link-img ms-1" %>
                <% end %>
              </li>
            <% end %>
            <% if @user.fiverr? %>
              <li>
                <%= link_to @user.fiverr, target:"_blank" do %>
                  <%= image_tag 'fiverr.png', class:"social-link-img" %>
                <% end %>
              </li>
            <% end %>
            <% if @user.personal_website? %>
              <li>
                <%= link_to @user.personal_website, target:"_blank" do %>
                  <%= image_tag 'personal_website.png', class:"social-link-img" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div></div>
      </div>
      <p><%= @user.headline %></p>
      <div class="username-location-etc">
        <p>@<%= @user.username %></p>
        <p><i class="fa-solid fa-location-dot"></i> <%= @user.address %></p>
        <p><i class="fa-regular fa-calendar"></i> joined <%= @user.created_at.strftime('%B') %>, <%= @user.created_at.strftime('%Y') %></p>
        <p><i class="fa-regular fa-star"></i>4.2 (12)</p>
        <p></p>
      </div>
    </div>
    <div class="user-buttons col-12 col-sm-4 col-md-4 col-lg-4">
      <div class="top-buttons">
        <div class="btn btn-primary" id="interviews-panel">
          <h4>16</h4>
          <small><p>interviews hosted</p></small>
        </div>
        <div class="btn btn-primary" id="years-exp-panel">
          <h4><%= @user.years_experience %>+</h4>
          <small><p><%= "year".pluralize(@user.years_experience) %> experience</p></small>
        </div>
      </div>
      <div class="bottom-buttons">
        <%= link_to "Reviews", "#", id: "reviews-button", class:"btn btn-primary"%>
        <%= link_to "Book Interview", new_interview_booking_path(@user), id:"book-button", class:"btn btn-primary"%>
      </div>
    </div>
  </div>
  <div class="show-main-content row g-0">
    <div class="main-content-left col-12 col-sm-8 col-md-8 col-lg-8">
      <h3>About</h3>
      <p class="mb-3"><%= @user.about %></p>
      <h3 class="my-3 some-of-my-projects">Some of my projects</h3>
      <div id="carouselExampleAutoplaying" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag("airpnp.png", class:"d-block w-100") %>
            <div class="carousel-caption d-none d-md-block">
              <div><h5 class="carousel-caption-header">AirPnP</h5></div>
              <div><p class="carousel-caption-text">An app for hiring out your swimming pool</p></div>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag("movielist.png", class:"d-block w-100") %>
            <div class="carousel-caption d-none d-md-block">
              <div><h5 class="carousel-caption-header">Movie listings</h5></div>
              <div><p class="carousel-caption-text">Store all your movies in custom lists</p></div>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag("stupidcoaching.png", class:"d-block w-100") %>
            <div class="carousel-caption d-none d-md-block">
              <div><h5 class="carousel-caption-header">Stupid Coaching</h5></div>
              <div><p class="carousel-caption-text">Get some tough love and get motivated</p></div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="main-content-right col-12 col-sm-4 col-md-4 col-lg-4">
      <div>
        <%= render 'shared/review_card' %>
      </div>
    </div>
  </div>
</div>
