<% mybookings.each do |booking| %>
  <div class="mybookings-card">
    <div class="mybookings-user-card-avatar-left">
      <%= cl_image_tag booking.interviewee.photo.key, class:"mybookings-user-avatar-img", crop: :fill unless booking.interviewee.photo.key.blank? %>
      <h4><%= "#{booking.interviewee.try(:first_name)} #{booking.interviewee.try(:last_name)}" %></h4>
    </div>
    <div class="mybookings-card-info-right">
      <div class="mybookings-time">
        <% if booking.end_time > Time.current %>
          <p><%= booking.time_full %> <em><small>from</small></em> <%= booking.time %></p>
        <% end %>
      </div>
      <div class="mybookings-stars">
        <% review = Review.find_by(booking_id: booking.id) %>
        <% if review.present? %>
          <div>
            <div class="stars-container">
              <% review.rating.times do %>
                <i class="fas fa-star star-blue"></i>
              <% end %>
            </div>
            <p class="mybookings-stars-review">
              <em><%= booking.interviewee.try(:first_name) %>'s review of your interview</em><br>
              <em class="mybookings-stars-review-ago"> <%= distance_of_time_in_words_to_now(review.created_at) %> ago</em>
            </p>
          </div>
        <% end %>
        <% if review.blank? && booking.end_time < Time.current %>
          <div>
            <p class="mybookings-stars-review">
              <em><%= booking.interviewee.try(:first_name) %> hasn't left you a review of your interview yet</em>
            </p>
          </div>
        <% end %>
      </div>
      <div class="mybookings-buttons">
        <% if booking.status == nil %>
          <small><%= button_to "Accept", update_booking_status_path(booking, status: 'accepted'), class: "mybookings-accept-button", method: :patch, data: {turbo: false} %></small>
          <small><%= button_to "Reject", update_booking_status_path(booking, status: 'rejected'), class: "mybookings-reject-button", method: :patch, data: {turbo: false} %></small>
        <% end %>
        <% if booking.status == 'accepted' && booking.end_time > Time.current %>
          <small><button type="button" class="mybookings-accept-button"><a href="<%= booking.meeting_link %>" target="_blank"><em> Meeting </em></a></button></small>
          <small><%= button_to "Edit", edit_booking_path(booking), method: :get, class: "mybookings-accept-button" %></small>
          <small><%= button_to "Cancel", booking_path(booking), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking?" }, class: "mybookings-reject-button" %></small>
        <% end %>
          <small><%= button_to 'Message', booking.chatroom, method: :get, class: "mybookings-message-button" %></small>
      </div>
    </div>
  </div>
<% end %>
