<% mybookings.each do |booking| %>
  <div class="mybookings-card">
    <ul>
      <li> <%= booking.time_full %></li>
      <li> <%= booking.time %></li>
      <li> <a href="<%= booking.meeting_link %>" target="_blank">Meeting Link</a> </li>
  </div>
  <% if booking.status == nil %>

      <div class="accept-reject-buttons">
        <small><%= button_to "Accept", update_booking_status_path(booking, status: 'accepted'), class: "accept-button", method: :patch, data: {turbo: false} %></small>
        <small><%= button_to "Reject", update_booking_status_path(booking, status: 'rejected'), class: "reject-button", method: :patch, data: {turbo: false} %></small>
      </div>

  <% end %>
<% end %>
