<nav class="navbar">
  <div class="navbar-container">
    <div class="nav-menu-left">
      <a href="<%= root_path %>" class="navbar-brand">
        <div class="logo">
          <%= image_tag "Group 1-3.png", style: "width: 160px;" %>
        </div>
      </a>
    </div>

    <ul class="nav-menu-center">
      <li class="nav-item">
        <a href="<%= root_path %>" class="nav-links">Home</a>
      </li>
      <li class="nav-item">
        <a href="<%= users_path %>" class="nav-links">Interviewers</a>
      </li>
      <% if current_user %>
      <li class="nav-item">
        <%= link_to 'Messages', current_user.chatrooms.any?  ? chatroom_path(@chatrooms.last) : root_path, class: 'nav-links' %>
      </li>
      <% end %>
      <li class="nav-item">
        <a href="<%= myinterviews_path %>" class="nav-links">My Interviews</a>
      </li>
    </ul>
    <div class="nav-menu-right">


      <div class="search-bar">
        <button name="button" type="submit" class="nav-links btn">
          <i class="fas fa-search"></i>
        </button>
        <form action="/users" method="GET" class="search-form d-flex">
          <input class="form-control me-2 custom-search" type="search" name="query" placeholder="Search" aria-label="Search">
        </form>
      </div>



      <% if user_signed_in? %>
        <div class="dropdown">
          <a id="navbarDropdown" class="nav-link dropdown-toggle avatar-dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "navbar-avatar", crop: :fill %>
            <% else %>
              <%= image_tag "default-pp.jpg", class: "navbar-avatar", crop: :fill %>
            <% end %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if current_user.interviewer == true %>
              <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "My bookings", my_bookings_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "login-button" %>
      <% end %>
    </div>

    <div class="hamburger">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</nav>
