<div class="row g-0">
  <% users.each do |user| %>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <a href="<%= user_path(user) %>" class="clickable-card">
        <div class="card-user">
          <div class="user-card-avatar">
            <div class="user-card-avatar-center">
              <%= image_tag("default_avatar.jpeg", class:"user-avatar-img") %>
            </div>
          </div>
          <div class="card-user-infos">
            <div class="title-description">
              <h2><%= "#{user.first_name} #{user.last_name}" %></h2>
              <p>@<%= user.username %></p>
            </div>
            <div class="user-card-tags">
              <% user_tags=UserTag.where(user: user) %>
              <% user_tags.each do |usertag| %>
                <div class="individual-tag"><p><%= usertag.tag.name %></p></div>
              <% end %>
            </div>
            <div class="user-about border-top p-2">
              <p><%= user.about %></p>
            </div>
            <div class="price-capacity">
              <div class="capacity-icon"><i class="fa-solid fa-location-dot"></i> <p class="card-user-capacity ms-2"> <%= user.address %></p></div>
              <p class="card-user-pricing"><strong><%= user.years_experience %> <%= "year".pluralize(user.years_experience) %> experience</strong></p>
            </div>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>
